---
layout: default
title: Scratch Day
---
<div class="scratchday">
  <div class="container">
    <div class="scratchday-banner">{% include scratchday-banner.html %}</div>
    <div class="scratchday-tickets">{% include scratchday-tickets.html %}</div>
    <div class="scratchday-when">{% include scratchday-when.html %}</div>
    <div class="scratchday-where">{% include scratchday-where.html %}</div>
    <div class="scratchday-video">{% include scratchday-video.html %}</div>
    <div class="scratchday-about">{% include scratchday-about.html %}</div>
    <!-- <div class="flyer">{% include scratchday-flyer.html %}</div> -->
    <div class="scratchday-sponsors">{% include scratchday-sponsors.html %}</div>
    <div class="scratchday-map">{% include scratchday-map.html %}</div>
  </div>
</div>