<div class="download">
    <a href="/assets/stl/Caster Wheel.stl"><img class="model-img" src="/assets/img/models/caster-wheel.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Caster Wheel.stl">Caster Wheel Holder</a></p>
      <p>The caster wheel holder receives a 5/8 inch (16 mm) ball bearing or marble.</p>
      <br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.amazon.com/PGN-0-625-Precision-Chrome-Bearing/dp/B07DFQ8DBY/">Amazon - 5/8" ball bearing</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Node Motor Shield.stl"><img class="model-img" src="/assets/img/models/motor-shield.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Node Motor Shield.stl">Node Motor Shield Holder</a></p>
      <p>The motor shield holder receives a Node Motor Shield. A NodeMCU plugs into the motor shield.</p>
      <br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.amazon.com/Shield-Arduino-NodeMcu-ESP8266-ESP-12E/dp/B01LGR57GW/">Amazon - Node Motor Shield</a></p>
      <p><a target="_blank" href="https://www.amazon.com/ESP8266-Internet-Development-Wireless-Micropython/dp/B07CB4P2XY/">Amazon - NodeMCU</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Battery Holder 4AA.stl"><img class="model-img" src="/assets/img/models/battery-holder-4aa.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Battery Holder 4AA.stl">Battery Holder (4 x AA)</a></p>
      <p>The battery holder receives another battery holder for 4 AA batteries.</p>
      <br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.adafruit.com/product/3859">Adafruit - 4xAA Battery Holder</a></p>
      <p><a target="_blank" href="https://www.sparkfun.com/products/552">Sparkfun - 4xAA Battery Holder</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Power Plug.stl"><img class="model-img" src="/assets/img/models/power-plug.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Power Plug.stl">Power Plug</a></p>
      <p>The power plug is used to connect the batteries to the motor shield. Standard male Dupont pins are crimped to the wire ends of the battery holder.</p>
      <br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.amazon.com/SUNKEE-100PCS-Dupont-Jumper-Connector/dp/B00Q6ZEE9Q">Amazon - male Dupont pin</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Wheel.stl"><img class="model-img" src="/assets/img/models/wheel.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Wheel.stl">Wheel</a></p>
      <p>Rubber bracelets can be fitted on the wheels to give the wheel more traction.</p><br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.amazon.com/Toy-Cubby-Bracelets-Assorted-Wristbands/dp/B075FC76HX/">Amazon - rubber bracelets</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Motor Holder.stl"><img class="model-img" src="/assets/img/models/motor-holder.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Motor Holder.stl">Motor Holder</a></p>
      <p>The motor holder receives a yellow geared motor.</p>
      <br>
      <p>Hardware sources:</p>
      <p><a target="_blank" href="https://www.addicore.com/TT-Style-Gear-Motor-p/ad479.htm">Addicore - geared motor</a></p>
      <p><a target="_blank" href="https://www.adafruit.com/product/3810">Adafruit - geared motor</a></p>
    </div>
</div>

<div class="download">
    <a href="/assets/stl/Motor Cap.stl"><img class="model-img" src="/assets/img/models/motor-cap.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a href="/assets/stl/Motor Cap.stl">Motor Holder Cap</a></p>
      <p>The motor cap snaps on the top of the motor holder after a motor and wires are inserted into the motor holder.</p>
    </div>
</div>

<div class="download">
    <a target="_blank" href="https://github.com/busylabs/BERT"><img class="model-img" src="/assets/img/models/code.png" alt=""></a>
    <div class="download-text">
      <p class="download-title"><a target="_blank" href="https://github.com/busylabs/BERT">Source Code</a></p>
      <p>Download the source code to drive BERT at our <a target="_blank" href="https://github.com/busylabs/BERT">github page</a>.</p>
    </div>
</div>