<div class="feature">
  <img class="feature-icon" src="/assets/img/affordable.svg" alt="">
  <div class="feature-text">
    <p class="feature-title">Affordable</p>
    <p>Our robot kits cost a fraction of traditional creative building kits. We use off-the-shelf parts to keep component prices low.</p>
  </div>
</div>

<div class="feature">
  <img class="feature-icon" src="/assets/img/lego-compatible.svg" alt="">
  <div class="feature-text">
    <p class="feature-title">LEGO&reg; Compatible</p>
    <p>Use your existing collection of LEGO parts to connect and expand your robot components. Our components are compatible with standard and technics bricks.</p>
  </div>
</div>

<div class="feature">
  <img class="feature-icon" src="/assets/img/3d-printable.svg" alt="">
  <div class="feature-text">
    <p class="feature-title">3-D Printable</p>
    <p>Got a 3-D printer? Just download and print our robot parts . . . or design your own! With a 3-D printer, you can print parts on demand if they break or get lost.</p>
  </div>
</div>

<div class="feature">
  <img class="feature-icon" src="/assets/img/open-source.svg" alt="">
  <div class="feature-text">
    <p class="feature-title">Open Source</p>
    <p>All our robot 3-D models and software are open source and free to download. Head to our downloads page to access the code and 3-D model files.</p>
  </div>
</div>

<div class="feature">
  <img class="feature-icon" src="/assets/img/wi-fi.svg" alt="">
  <div class="feature-text">
    <p class="feature-title">Wi-Fi Enabled</p>
    <p>Our robot kits can be programmed and controlled through Wi-Fi enabled devices. No specialized controllers or device-specific apps are needed!</p>
  </div>
</div>