<h4>Free Tickets</h4>
<p>Scratch Day is free, but you must have an admission ticket in advance. Tickets are available <a href="https://goo.gl/forms/uJnYmHn9oa8ZBFMw2" target="_blank">here</a>. There are only a limited number of seats, so get your tickets soon.</p>

<h4>What to Bring</h4>
<p>To participate in programming workshops, bring a laptop that can run <a href="https://scratch.mit.edu/" target="_blank">Scratch</a> in a browser.</p>
<p>Kids under 13 years old must be accompanied by an adult.</p>
<p>Finally, you should create a <a href="https://scratch.mit.edu/" target="_blank">free Scratch account</a> prior to Scratch Day.</p>

<h4>What is Scratch Day?</h4>
<p><a href="https://scratch.mit.edu/" target="_blank">Scratch</a> is a programming language for kids. With Scratch, you can create video games, animate stories, and explore computer science concepts.</p>
<p><a href="https://day.scratch.mit.edu/" target="_blank">Scratch Day</a> is a global collection of events where people of all programming levels congregate to meet, share and learn. Attendees can collaborate on different Scratch projects, attend workshops, share their ideas and experiences, and overall, have fun.</p>
<p>Scratch Day is for people of all ages and abilities.
  <ul>
    <li>Teachers, bring your students!</li>
    <li>Parents, bring your children!</li>
    <li>Children, bring your parents and teachers!</li>
  </ul>
</p>

<h4>Interested in Volunteering?</h4>
<p>We need volunteers to help set up, clean up, take photos, and teach Scratch workshops. If you would like to help, please click <a href="https://goo.gl/forms/0Sodjl27QrJIh6sg1" target="_blank">here</a>.</p>

<h4>Questions/Sponsorship</h4>
<p>If you have any questions about Scratch Day, or are interested in sponsoring this event, please contact Ido Tuchman through <a href="mailto:busylabscentral@gmail.com">busylabscentral@gmail.com</a>.</p>