<h4>San Diego Scratch Day Sponsors</h4>
<p><a target="_blank" href="http://printstarnow.com/"><img alt="Printstar" src="/assets/img/printstar.png"></a>
<p><a target="_blank" href="http://hdrobotic.com/"><img alt="Haddington Dynamics" width="160" src="/assets/img/HaddingtonDynamics.png"></a>
<p><a target="_blank" href="https://sandiego-cv.aopsacademy.org/"><img alt="AoPS Academy" width="188" height="47" src="/assets/img/AoPSAcademy.png"></a>
<p><a target="_blank" href="https://makeymakey.com/"><img alt="Makey Makey" width="160" height="79" src="/assets/img/MakeyMakeyLogo.jpg"></a>