.downloads {
  padding-top: 50px;
  padding-bottom: 200px;
  width: 80%;
  margin: auto;
  background-color: bisque;
}

.download {
  padding: 0px 70px 50px 20px;
  clear: both;
}

.download-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 5px;
  color: $gray-800;
}

.download-text {
  color: $gray-800;
  padding-left: 100px;
}

.download-text p {
  margin: 0px;
}

.model-img {
  // display: inline;
  float: left;
  height: 200px;
  width: 200px;
  padding: 0px 30px 70px 50px;
}