.features {
  padding-top: 2em;
  padding-bottom: 1em;
  width: 80%;
  margin: auto;
  background-color: seashell;
}

.feature {
  padding: 1em 1em 3em 1em;
  clear: both;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 0.5em;
  color: $gray-800;
}

.feature-text {
  color: $gray-800;
  padding-left: 1em;
}

.feature-text p {
  margin: 0px;
}

// padding goes top, right, bottom, left

.feature-icon {
  // display: inline;
  float: left;
  height: 5em;
  width: 5em;
  padding: 1em 2em 1em 3.5em;
}