.footer {
  background-color: $gray-700;
  height: 100px;
  color: $gray-300;
  clear: both;
}

.footer-copyright {
  font-size: .8em;
  position: relative;
  top: 50px;
  left: 20px;
  // margin: 0px;
}