.footer {
  background-color: $gray-700;
  padding: 50px 0;
  color: $gray-300;
  clear: both;
}

.footer-copyright {
  font-size: .8em;
  position: relative;
  margin-top: 10px;
  left: 20px;
  // margin: 0px;
}

.footer-copyright img {
  padding-right: 7px;
}

.footer-copyright a {
  color: $gray-300;
}