.scratchday {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 303px;
    grid-template-rows: repeat(6, auto) 1fr;
    grid-column-gap: 30px;
    grid-template-areas: 
      "banner banner"
      "about tickets"
      "about when"
      "about where"
      "about video"
      "about flyer"
      "about sponsors";

    .scratchday-banner {
      grid-area: banner;
    }

    .scratchday-about {
      grid-area: about;
    }

    .scratchday-tickets {
      grid-area: tickets;
    } 

    .scratchday-when{
      grid-area: when;
    } 

    .scratchday-where{
      grid-area: where;
    } 

    .scratchday-video{
      grid-area: video;
    }

    .scratchday-flyer {
      grid-area: flyer;
    }

    .scratchday-sponsors{
      grid-area: sponsors;
      align-self: stretch;
    } 


    h4 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: rgb(68, 68, 68);
      margin-top: 0px;
      margin-bottom: 10px;
    }    
    
    li {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(85, 85, 85);
      font-size: 18px;
      line-height: 1.5;
      margin: 0px 0px 0px;
    }    

    p, ul {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(85, 85, 85);
      font-size: 18px;
      line-height: 1.5;
      margin: 0px 0px 20px;
    }

  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .scratchday-tickets { 
    display: inline;

      button{
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.33333;
      padding: 10px 16px;
      border-radius: 6px;
      margin-bottom: 20px;

      color: rgb(255, 255, 255);
      background-color: rgb(92, 184, 92);
      border-color: rgb(76, 174, 76);
    }

    button:hover {
      background-color: rgb(68, 157, 68);
      border-color: rgb(57, 132, 57);
    }
  }

  .scratchday-video {
    margin-bottom: 20px;
  }

  .scratchday-map {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .scratchday {
    display: block;
  }

  .logo {
    width: 328px;
    height: 82px;
  }
}
