---
layout: default
title: Scratch Day
---
<div class="scratchday">
  <div class="container">
    <div class="banner">{% include scratchday-banner.html %}</div>
    <div class="tickets">{% include scratchday-tickets.html %}</div>
    <div class="when">{% include scratchday-when.html %}</div>
    <div class="where">{% include scratchday-where.html %}</div>
    <div class="video">{% include scratchday-video.html %}</div>
    <div class="about">{% include scratchday-info.html %}</div>
    <!-- <div class="flyer">{% include scratchday-flyer.html %}</div> -->
    <div class="sponsors">{% include scratchday-sponsors.html %}</div>
    <div class="map">{% include scratchday-map.html %}</div>
  </div>
</div>
