<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/busylabs.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84858368-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-84858368-1');
    </script>
    <meta name="p:domain_verify" content="20f730f1f3f7749b9f357b9f2f6335a6"/>
  </head>
  <body>
    <!-- <div class="navigation">{% include navigation.html %}</div> -->
    <div class="topnavbar">{% include topnavbar.html %}</div>
    {{ content }}
    <div class="footer">{% include footer.html %}</div>
  </body>
</html>